<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content class="row">
    <p class="inputfield ">
        <mat-form-field appearance="outline" class="haf-width">
            <mat-label>First name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First name">
          </mat-form-field>
    </p>

    <p class="inputfield">
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last name">
          </mat-form-field>
    </p>
    
    
</div>
<div class="over-100-div">

      
    <mat-form-field appearance="outline" class="example-form-field max-width" >
        <mat-label>Birth date</mat-label>
        <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="datepicker">
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
</div>
<div >
    <p class="inputfield over-100-div" >
        <mat-form-field appearance="outline" class="max-width">
            <mat-label>E-mail</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-mail">
          </mat-form-field>
    </p>
</div>
<div >
    <p class="inputfield over-100-div" >
        <mat-form-field appearance="outline" class="max-width">
            <mat-label>Street + number</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Address">
          </mat-form-field>
    </p>
</div>

<div class="row">
    <p class="inputfield">
        <mat-form-field appearance="outline">
            <mat-label>zip-code</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="zip-code">
          </mat-form-field>
    </p>

    <p class="inputfield">
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
          </mat-form-field>
    </p>
</div>


<div mat-dialog-actions>
    <div class="button-center">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button (click)="saveUser()" mat-button  cdkFocusInitial>Save</button>
    </div>
  
</div>