

<mat-drawer-container class="example-container" autosize>
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <div class="Logo">
      <img src="./assets/img/Logo-CRM.png" alt="">
    </div>

    <ul class="menu-items">
      <li routerLink="/"><mat-icon>dashboard</mat-icon> Dashboard</li>
      <li routerLink="/user"><mat-icon>person_outline</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      
      <mat-toolbar-row>
       <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</mat-drawer-container>
