<mat-card >
    <div class="user-header">
        <button mat-icon-button class="button" [matMenuTriggerFor]="overMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #overMenu="matMenu">
            <button mat-menu-item (click)="editUserMenu()">Edit</button>
        </mat-menu>
        <div>   
            <img src="./assets/img/profile.png" alt="">
        </div>
        
        <div class="user-details">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <span>{{user.email}}</span>
        </div>
    </div>
    
</mat-card>

<mat-card class="addres-card">
    <button mat-icon-button class="button" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editAddress()">Edit</button>
    </mat-menu>
   
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{user.street}}</p>
        <p>{{user.zipCode}} {{user.city}}</p>

    </mat-card-content>
</mat-card>